body {
    font-family: 'Noto Sans Thai', Poppins, sans-serif;
}

section.footer {
    background-color: #f8f9fa !important;
}

.carousel-item img {
    width: 100%;
}


.field-validation-error{
    display:block;
    margin-top: 5px !important;
}

@media only screen and (max-width: 600px) {
    .carousel-item img {
        width: auto !important;
        height: 450px;
    }
}
